<!--&lt;!&ndash; Navigation &ndash;&gt;-->
<!--<nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">-->
    <!--<div class="container-fluid">-->
        <!--<a class="navbar-brand js-scroll-trigger" href="/"><img src="img/logo.png" alt="logo"></a>-->
        <!--<button class="navbar-toggler navbar-toggler-right bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--Menu-->
            <!--<i class="fa fa-bars"></i>-->
        <!--</button>-->
        <!--<div class="collapse navbar-collapse" id="navbarResponsive">-->
            <!--<ul class="navbar-nav ml-auto">-->
                <!--<li class="nav-item mx-0 mx-lg-1">-->
                    <!--{{#if isLoggedIn}}-->
                        <!--<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/logout" id="loginNav">log out</a>-->
                    <!--{{else}}-->
                        <!--<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/signin" id="loginNav">log in</a>-->
                    <!--{{/if}}-->
                <!--</li>-->
                <!--<li class="nav-item mx-0 mx-lg-1">-->
                    <!--<a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/signup_page">sign up</a>-->
                <!--</li>-->
                <!--<li class="nav-item mx-0 mx-lg-1">-->
                    <!--<div class="btn-group">-->
                        <!--<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="charityDropdown" href="#">-->
                            <!--charities-->
                            <!--<span class="caret"></span>-->
                        <!--</a>-->
                        <!--<ul class="dropdown-menu">-->
                            <!--<li class="dropdown-item"><a href="/charity_eventpage">Create Event</a>-->
                            <!--</li>-->
                            <!--<li class="dropdown-item"><a href="/aboutus">Learn More</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</nav>-->
<!-- login modal -->
<div class="modal fade" id="popUpWindow">
    <div class="modal-dialog">
        <div class="modal-content">
            <br>
            <div align="center">
                <img class="img-circle" id="img_logo" src="../public/img/spiral.png">
            </div>
            <div class="modal-header text-center">
                <h3 class="modal-title">log in</h3>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body text-center">
                <form role="form">
                    <input type="email" class="form-control" placeholder="email" required>
                    <br>
                    <input type="password" class="form-control" placeholder="password" required>
                </form>
                <br>
                <div class="checkbox text-left">
                    <label>
                        <input type="checkbox"> remember me
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary">log in</button>
            </div>
            <div>
                <button id="login_lost_btn" type="button" class="btn btn-link">lost password?</button>
                <button id="login_register_btn" type="button" class="btn btn-link" href="signup_page_heroku.html">sign-up</button>
            </div>
        </div>
    </div>
</div>
<!-- Header -->
<header class="masthead bg-primary text-white text-center">
    <div>
        <img id="womenpic" src="/img/create_img.jpg" alt="createEvent">
    </div>
</header>

<!-- Sign-up section -->
<section class="bg-primary text-black mb-0" id="charitySignup">
    <div class="container-fluid">
        <h2 class="text-left" id="createEvent">Create an event</h2>
        <p>Events will be vetted by staff to ensure accuracy. You'll receive an email update when the event has been published. </p>
    </div>

</section>

<div class="container-fluid">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="organizationo" class="col-sm-2 control-label">Organization</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="organizationo" placeholder="Org" type="text" maxlength="25">
            </div>
            <label for="orgwebsiteo" class="col-sm-2 control-label">Org Website</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="orgwebsiteo" placeholder="Org Website" type="text" maxlength="100">
            </div>
            <label for="firstnameo" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstnameo" placeholder="John" maxlength="25">
            </div>
            <label for="lastnameo" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastnameo" placeholder="Smith" type="text" maxlength="25">
            </div>
            <label for="titleo" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="titleo" placeholder="President" type="text" maxlength="25">
            </div>
            <label for="emailo" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="emailo" placeholder="email@gmail.com" type="email" maxlength="35">
            </div>
            <label for="eventnameo" class="col-sm-2 control-label">Event Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="eventnameo" placeholder="Puppy Run" type="text" maxlength="25">
            </div>
            <label for="descriptiono" class="col-sm-2 control-label">Event Description</label>
            <div class="col-sm-10">
                <textarea rows="4" cols="50" name="comment" form="form-horizontal" class="form-control" id="descriptiono" placeholder="Run with Puppies" type="text" maxlength="500"> Tell us about your event. </textarea>
            </div>
            <label for="imageSelecto" class="col-sm-2 control-label">Select Image</label>
            <div class="col-lg-10">
                <select class="image-picker show-html" id="imageSelecto">
                    <option data-img-src="https://s3-us-west-1.amazonaws.com/quickiehelp-images/art.PNG" data-img-class="first" data-img-alt="Page 1" value="https://s3-us-west-1.amazonaws.com/quickiehelp-images/art.PNG">  Page 1  </option>
                    <option data-img-src="https://s3-us-west-1.amazonaws.com/quickiehelp-images/const.PNG" data-img-alt="" value="https://s3-us-west-1.amazonaws.com/quickiehelp-images/const.PNG">  Page 2  </option>
                    <option data-img-src="https://s3-us-west-1.amazonaws.com/quickiehelp-images/hands-walking-stick-elderly-old-person.jpg" data-img-alt="Page 3" value="https://s3-us-west-1.amazonaws.com/quickiehelp-images/hands-walking-stick-elderly-old-person.jpg">  Page 3  </option>
                    <option data-img-src="https://s3-us-west-1.amazonaws.com/quickiehelp-images/hike.PNG" data-img-alt="Page 4" value="https://s3-us-west-1.amazonaws.com/quickiehelp-images/hike.PNG">  Page 4  </option>
                    <option data-img-src="https://s3-us-west-1.amazonaws.com/quickiehelp-images/mentors.PNG" data-img-alt="Page 5" value="https://s3-us-west-1.amazonaws.com/quickiehelp-images/mentors.PNG">  Page 5  </option>
                    <option data-img-src="https://s3-us-west-1.amazonaws.com/quickiehelp-images/pexels-photo-196652.jpeg" data-img-alt="Page 6" value="https://s3-us-west-1.amazonaws.com/quickiehelp-images/pexels-photo-196652.jpeg">  Page 6  </option>
                    <option data-img-src="https://s3-us-west-1.amazonaws.com/quickiehelp-images/pexels-photo-347134.jpeg" data-img-alt="Page 7" value="https://s3-us-west-1.amazonaws.com/quickiehelp-images/pexels-photo-347134.jpeg">  Page 7  </option>
                    <option data-img-src="https://s3-us-west-1.amazonaws.com/quickiehelp-images/pexels-photo-890507.jpeg" data-img-alt="Page 8" value="https://s3-us-west-1.amazonaws.com/quickiehelp-images/pexels-photo-890507.jpeg">  Page 8  </option>
                    <option data-img-src="https://s3-us-west-1.amazonaws.com/quickiehelp-images/puppy.PNG" data-img-alt="Page 9" value="https://s3-us-west-1.amazonaws.com/quickiehelp-images/puppy.PNG">  Page 9  </option>
                </select>

            </div>
            <br>
            <label for="eventdateo" class="col-sm-2 control-label">Event Date</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="eventdateo" placeholder="MM/DD/YYYY" type="date" maxlength="10">
            </div>
            <label for="eventtimeo" class="col-sm-2 control-label">Event Time</label>
            <div class="col-sm-10">
                <input type="time" class="form-control" id="eventtimeo" placeholder="MT:MT" type="text" maxlength="20">
            </div>
            <label for="eventlocationo" class="col-sm-2 control-label">Event Location</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="eventlocationo" placeholder="City Park" type="text" maxlength="50">
            </div>
            <label for="userinterestdescriptiono" class="col-sm-2 control-label">Volunteer Interest Description</label>
            <div class="col-sm-10">
                <textarea rows="4" cols="50" name="comment" form="form-horizontal" class="form-control" id="userinterestdescriptiono" placeholder="People who like puppies" type="text" maxlength="500"> What types of volunteers are you looking for?</textarea>
            </div>
            </div>


            <br>
            <div clas="container-fluid">
            <button type="submit" class="btn btn-primary" id="charity-btn-submit">Submit</button>
            </div>
        </div>
</div>
</form>
<br>
<!--Footer-->
<footer class="page-footer indigo center-on-small-only pt-0">

    <!--Footer Links-->
    <div class="container-fluid">
                <br>

        <!--First row-->
        <div class="row">
            <div class="col-md-12">

                <div id="socialmedia" class="footer-socials mb-5>
                    <!--Facebook-->
                    <a class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>
                <!--Twitter-->
                <a class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>
                <!--Google +-->
                <a class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>

                <!--Instagram-->
                <a class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>
                <!--Pinterest-->
                <a class="icons-sm pin-ic"><i class="fa fa-pinterest fa-lg white-text"> </i></a>
            </div>
        </div>
        <!--/First column-->
    </div>
    <!--/First row-->
    </div>
    <!--/Footer Links-->
    <br>
    <br>
    <br>
    <!--Copyright-->
    <div id="copyright" class="footer-copyright">
        <div class="container-fluid">
            © 2018 Copyright: QuickieHelp
        </div>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->



<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>