body {
    font-family: 'Nunito', sans-serif
}

footer {
    background-color: #1A535C;
    color: white
}

#heartContainer {
    position: relative;
    cursor: pointer;
}

.clicks {
    z-index: 100;
    position: relative;
    bottom: 25.5px;
}
.heart {
    background: url("img/charity_top/redlike.PNG") no-repeat;
    z-index: 10;
}


a {
    color: #FF6B6B;
}
.modal{
    text-align: left
}
.profileSmall {
    height: 4%;
    width: 7%;
    display: inline-block;
    border-radius: 3px;
}
.largeProfile {
    border-radius: 50%;
}

.container{
    padding-right: 0;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0;
}
#signupbtn {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    background-color: white;
    color: white;
    border-color: #FF6B6B;
    position: absolute;
    bottom: 50%;
    right: 47%;
    z-index: 50;
    display: inline-block
}

#signupbtn:hover {
    border-color: white

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Nunito', sans-serif
}

hr.star-dark,
hr.star-light {
    max-width: 15rem;
    padding: 0;
    text-align: center;
    border: none;
    border-top: solid .25rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

#mainNav .navbar-brand,
#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #4ECDC4
}

.centered {
    background: url("../img/women.jpg") no-repeat;
    height: 430px;
    background-size: contain;
    background-position: 50%;
    z-index: 10;
}


#charityDropdown {
    font-weight: 700
}

.btn-group {
    bottom: -12%
}

#testimonialTitle {
    color: white;
    font-weight: bold
}
#dividerSection {
    background-color: #2C3E50;
}
#createEvent {
    color: #1A535C
}

#testimonialSection {
    background-color: #4ECDC4
}
/*.row {
    padding-left: 20%;
}*/
section {
    padding: 1rem 0
}

section h2 {
    font-size: 2.25rem;
    line-height: 2rem
}

@media (min-width:992px) {
    section h2 {
        font-size: 3rem;
        line-height: 2.5rem
    }
}
@media (max-width:992px) {
    #charities{
        padding-top: 120px;
    }
}



.btn-xl {
    padding: 1rem 1.75rem;
    font-size: 1.25rem
}

.btn-social {
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    line-height: 2rem
}

.scroll-to-top {
    z-index: 1042;
    right: 1rem;
    bottom: 1rem;
    display: none
}

.scroll-to-top a {
    width: 3.5rem;
    height: 3.5rem;
    background-color: rgba(33, 37, 41, .5);
    line-height: 3.1rem
}

#mainNav {
    font-weight: 700;
    font-family: 'Nunito', sans-serif
}

#mainNav .navbar-nav {
    letter-spacing: .0625rem
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #1A535C
}

#mainNav .navbar-nav li.nav-item a.nav-link:active,
#mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #fff
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #4ECDC4
}

#mainNav .navbar-toggler {
    font-size: 80%
}

@media (min-width:992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        -webkit-transition: padding-top .3s, padding-bottom .3s;
        -moz-transition: padding-top .3s, padding-bottom .3s;
        transition: padding-top .3s, padding-bottom .3s
    }
    #mainNav .navbar-brand {
        font-size: 2em;
        -webkit-transition: font-size .3s;
        -moz-transition: font-size .3s;
        transition: font-size .3s
    }
    #mainNav .navbar-nav {
        margin-top: 0
    }
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:active,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:focus,
    #mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover {
        color: #fff;
        background: #1A535C
    }
    #mainNav.navbar-shrink {
        padding-top: .5rem;
        padding-bottom: .5rem
    }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 4em
    }
}

#slogan {
    position: absolute;
    color: #1A535C
}

#volunteer {
    color: #1A535C;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
    margin-left: 5px;
}

header.masthead h1 {
    font-size: 3rem;
    line-height: 3rem
}

header.masthead h2 {
    font-size: 1.3rem;
    font-family: 'Nunito', sans-serif
}

@media (min-width:992px) {
    header.masthead {
        padding-top: calc(1rem + 106px);
        padding-bottom: 1rem
    }
    header.masthead h1 {
        font-size: 4.75em;
        line-height: 4rem
    }
    header.masthead h2 {
        font-size: 1.75em
    }
}

.charities {
    margin-bottom: -15px
}

.charities .charity-item {
    position: relative;
    display: block;
    max-width: 25rem;
    margin-bottom: 15px
}

.charities .charity-item .charity-item-caption {
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    opacity: 0;
    background-color: rgba(24, 188, 156, .9)
}

.charities .charity-item .charity-item-caption:hover {
    opacity: 1
}

.charities .charity-item .charity-item-caption .charity-item-caption-content {
    font-size: 1.5rem
}

@media (min-width:576px) {
    .charities {
        margin-bottom: -30px
    }
    .charities .charity-item {
        margin-bottom: 30px
    }
}

.charity-modal .charity-modal-dialog {
    display: list-item;
    padding: 3rem 1rem;
    min-height: calc(100vh - 2rem);
    margin: 1rem calc(1rem - 8px);
    position: relative;
    z-index: 2;
    -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, .5);
    box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, .5)
}

.charity-modal .charity-modal-dialog .close-button {
    position: absolute;
    top: 2rem;
    right: 2rem
}

.charity-modal .charity-modal-dialog .close-button i {
    line-height: 38px
}

.charity-modal .charity-modal-dialog h2 {
    font-size: 2rem
}

@media (min-width:768px) {
    .charity-modal .charity-modal-dialog {
        min-height: 100vh;
        padding: 5rem;
        margin: 3rem calc(3rem - 8px)
    }
    .charity-modal .charity-modal-dialog h2 {
        font-size: 3rem
    }
}

.floating-label-form-group {
    position: relative;
    border-bottom: 1px solid #e9ecef
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    font-size: 1.5em;
    position: relative;
    z-index: 1;
    padding-right: 0;
    padding-left: 0;
    resize: none;
    border: none;
    border-radius: 0;
    background: 0 0;
    box-shadow: none!important
}

.floating-label-form-group label {
    font-size: .85em;
    line-height: 1.764705882em;
    position: relative;
    z-index: 0;
    top: 2em;
    display: block;
    margin: 0;
    -webkit-transition: top .3s ease, opacity .3s ease;
    -moz-transition: top .3s ease, opacity .3s ease;
    -ms-transition: top .3s ease, opacity .3s ease;
    transition: top .3s ease, opacity .3s ease;
    vertical-align: middle;
    vertical-align: baseline;
    opacity: 0
}

.floating-label-form-group:not(:first-child) {
    padding-left: 14px;
    border-left: 1px solid #e9ecef
}

.floating-label-form-group-with-value label {
    top: 0;
    opacity: 1
}

.floating-label-form-group-with-focus label {
    color: #4ECDC4
}

form .row:first-child .floating-label-form-group {
    border-top: 1px solid #e9ecef
}

.footer {
    padding-top: 10%;
    padding-bottom: 5rem;
    background-color: #2C3E50;
    color: #fff
}
.pt-0{
    text-align: center;
    padding-top: 10rem;
}
.copyright {
    background-color: #1a252f
}
a:active,
a:focus,
a:hover {
    color: #1A535C
}

.btn {
    border-width: 2px
}

.bg-primary {
    background-color: #fff!important
}

.bg-secondary {
    background-color: #fff!important
}

.text-primary {
    color: #4ECDC4!important
}

.text-secondary {
    color: #2C3E50!important
}

.btn-primary {
    background-color: #4ECDC4;
    border-color: #4ECDC4
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    background-color: #128f76;
    border-color: #128f76
}

.btn-secondary {
    background-color: #2C3E50;
    border-color: #2C3E50
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
    background-color: #1a252f;
    border-color: #1a252f
}



